.logo_title{
  font-size: 30px;
  font-weight: 700;
  .logo{
    display:inline-block;
    height:40px;
    width:30px;
    background:green;
    text-align:center;
    font-size:25px;
    font-weight:700;
    color:white;
    border-radius:5px;
  }
}

.searchbar{
  border-radius: 20px;
}

.user_profile{
  font-size: 40px;
  color: green;
}