.category_list{
  background: #f8f9fa;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}


@media(max-width:1400px){
  .abc{
    background: #f8f9fa;

    .category_list{
      background:none;
    }
  }
  
}