.sidebar {
  width: calc(100% - 24px);
  margin-right: 24px;
  padding: 25px 0px;
  z-index: 99;

  #toggaleButton {
    position: absolute;
    right: -30px;
    top: 0;
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    height: 40px;
    background: none;
    border-radius: 5px;
    display: none;
  }

  .stores {
    margin-bottom: 40px;
    width: 304px;
    height: 56px;
    color: #2264d1;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    border: 1px solid #9dc2ff;
    border-radius: 8px;
    background-color: white;
  }

  .accordion_container {
    width: 304px;
    margin-top: 25px;
  }
  .details_container {
    padding-left: 10px;
    margin-bottom: 32px;
  }
}

@media (max-width: 1600px) {
  .sidebar {
    .accordion_container,
    .stores {
      width: 90%;
    }
  }
}

@media (max-width: 1200px) {
  .sidebar {
    .accordion_container,
    .stores {
      width: 100%;
    }
  }
}

@media (max-width: 1050px) {
  .sidebar {
    width: 220px;
    margin-right: 0px;
    padding: 10px 10px;
    position: absolute;
    background-color: rgba(211, 211, 211, 0.404);
    transform: translateX(-220px);
    transition: all 500ms ease;

    #toggaleButton {
      display: block;
    }
    .accordion_container,
    .stores {
      width: 200px;
    }
    .stores {
      margin-top: 50px;
    }
  }

  .opened {
    transform: translateX(0px);
  }
}
