.App{
  .grid_container{
    display: grid;
    // border: 2px solid black;
    grid-template-columns: 100%;
  }
}

@media(min-width:576px){
  .App{
    .grid_container{
      width: 1320px;
    }
  }
}

@media(min-width:768px){
  .App{
    .grid_container{
      width: 720px;
    }
  }
}


@media(min-width:992px){
  .App{
    .grid_container{
      width: 960px;
      grid-template-columns: 25.38% 74.61%;
    }
  }
}

@media(min-width:1200px){
  .App{
    .grid_container{
      width: 1140px;
    }
  }
}

@media(min-width:1400px){
  .App{
    .grid_container{
      width: 1320px;
    }
  }
}

@media(min-width:1600px){
  .App{
    .grid_container{
      width: 1493px;
    }
  }
}